@font-face{
  font-family: TT;
  src: url("tt0857m_.ttf");
}

body {
  margin: 0;
}

html {
  font-family: TT;
}

a {
  color: #D50122;
}

header {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 13;
}

header a {
  float: right;
}

section h2 {
  margin: auto;
  font-size: 80px;
  font-weight: normal;
}

section p.lead {
  font-size: 24px;
  margin: auto;
}

#front {
  padding: 200px 0 200px 0;
  background: #D50122;
  color: #fff;
  text-align: center;
}

#verse {
  margin: 100px;
  padding: 100px 0 100px 0;
}

#verse img {
  padding-left: 200px;
}

.info {
  font-size: 2em;
  float: right;
  padding-right: 200px;
  text-align: right;
}

.info p {
  margin: 15px;
}

.info .email {
  color: #D50122;
}

.small {
  font-size: 25px;
  margin: auto;
}

