@font-face{
  font-family: TT;
  src: url("tt0857m_.ttf");
}

html {
  font-family: TT;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section {
  text-align: center;
  overflow: hidden;
  padding: 250px;
}

section h2 {
  margin: auto;
  font-size: 80px;
  font-weight: normal;
}

section p.lead {
  font-size: 24px;
  margin: auto;
}

a {
  color: #D50122;
}

.transition {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

header {
  background: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 13;
}

header a {
  float: right;
}

#front {
  background: #D50122;
  color: #fff;
}

.info {
  font-size: 2em;
  float: right;
  text-align: right;
}

.info p {
  margin: 15px;
}

.info .email {
  color: #D50122;
}

.small {
  font-size: 25px;
  margin: auto;
}

